.footer-container {
    width:100%;
    position: fixed;
    bottom: 0;
    
    background-color: #f0f0f0;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom:6px;
  }
  
  .footer-text {
    color: #555;
    font-size: 25px;
  }
  .footer-text label{
    font-size: 12px;
  }
  